/**
 * Special css for the home rotator
 */

#block-views-rotator-block_1 {
  .views-field-body {
    float: right;
    height: 250px;
    margin-right: 20px;
    position: relative;
    top: -300px;
    a {
      color: #ffffff;
    }
  }
  .views-slideshow-controls-bottom {
    bottom: 35px;
    float: right;
    margin-right: 20px;
    position: relative;
    z-index: 5;
    a {
      background: #4f4e4e;
      border-radius: 3px;
      color: #ffffff;
      -moz-border-radius: 3px;
      padding: 3px 6px;
      text-decoration: none;
      -webkit-border-radius: 3px;
    }
    div.activeSlide a {
      background: #cf710c;
    }
  }
}

.views_slideshow_singleframe_teaser_section {
  height: 300px;
  overflow: hidden;
}

/**
 * Float node images left
 */

.field-field-blog-image,
.field-field-product-image,
.field-field-service-image,
.field-field-news-image {
  float: left;
  margin: 10px 10px 10px 0;
  position: relative;
}

/**
 * sitewide main views row
 */

#main-content {
  .views-row {
    border: 5px solid #fff;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 10px;
    -moz-box-shadow: 0 0 5px #ccc;
    padding: 20px;
    -webkit-box-shadow: 0 0 5px #ccc;
  }
  ul .views-row {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    -moz-box-shadow: none;
    padding: 0;
    -webkit-box-shadow: none;
  }
}
