/**
 * Blog styles
 */

.content-column .view-blog {
  .views-field-field-blog-image-fid {
    clear: left;
    float: left;
    margin-right: 20px;
  }
  .views-field-created,
  .views-field-name {
    clear: both;
    float: left;
    width: 170px;
  }
  .views-field-title {
    font-size: 18px;
  }
  .views-field-view-node {
    clear: both;
    text-align: right;
  }
}
