.container {
  margin: 0 auto;
  width: 960px;
}

.no-sidebars {
  .main,
  .page-content {
    width: 960px;
  }
}

.sidebar-first .page-content {
  float: right;
  width: 670px;
}

.sidebar-second {
  .main,
  .page-content {
    float: left;
    width: 670px;
  }
}

.two-sidebars {
  .main {
    float: left;
    width: 720px;
  }
  .page-content {
    float: right;
    width: 480px;
  }
  .first-sidebar {
    float: left;
    width: 240px;
  }
  .second-sidebar {
    float: right;
    width: 240px;
  }
}

.one-sidebar {
  .first-sidebar {
    float: left;
    width: 290px;
  }
  .second-sidebar {
    float: right;
    width: 290px;
  }
}

/**
 * column gutters
 */

.sidebar-first .page-content .gutter {
  padding-left: 12px;
}

.sidebar-second .page-content .gutter {
  padding-right: 11px;
}

.two-sidebars .page-content .gutter {
  padding-left: 8px;
  padding-right: 7px;
}

.sidebar .gutter {
  padding: 0 7px 7px;
}

/**
 * preface and bottom regions
 */

.preface-1,
.bottom-1 {
  width: 960px;
}

.preface-2,
.bottom-2 {
  float: left;
  width: 480px;
}

.preface-3,
.bottom-3 {
  float: left;
  width: 320px;
}

.bottom-4 {
  float: left;
  width: 240px;
}

.preface .gutter,
.bottom .gutter {
  padding: 0 10px 5px;
}
