@import "vars";

/** all menu responsive **/
.responsive-menus.responsified {
  width: 100%!important;
  .responsive-menus-simple li a {
    background: $color_orange;
    padding: 0.1em 5%;
  }
  span.toggler {
    background: $color_orange;
    box-shadow: none;
    border-radius: 0;
  }
}

.responsive-menus-simple {
  .block-inner {
    padding: 0!important;
  }
  box-shadow: none!important;

  li {
    height: auto!important;

    a {
      font-size: 16px;
      padding: 3px 15px!important;
    }
  }
}

/* width 320px */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #header {
    .header {
      height: auto;
      @include responsive($w_320);

      a {
        text-align: center;
        img { max-width: 80%; height: auto;}
      }
    }
  }

  #navigation {
    .navigation {
      height: auto!important;
    }
    .container {
      @include responsive($w_320);
    }
    a.active {
      background: $color_white;
    }
  }

  #main-wrapper .container {
    @include responsive($w_320);
  }

  #preface {
    margin: 0 auto;
    width:320px;

    .preface-2 {
      width: 100%
    }

    .block-block {
      height: auto;
      margin-bottom:10px;
      width: 300px;
    }
  }

  #first-sidebar {
    float: none;
    overflow: hidden;
    @include responsive($w_320);
  }

  .page-content {
    float: none!important;
    width: 320px!important;

    .gutter {
      padding: 0!important;

      .region-content {
        margin-bottom: 15px;
      }

      .submitted {
        margin: 10px 0;
      }

      h2 {
        padding-left: 0!important;

        a {
          color: $color_orange!important;
        }
      }

      .feed-icon {
        display: none;
      }
    }

    .content {
      padding: 0!important;

      img {
       height: auto;
       width: 100%;
      }
    }

    ul.links li {
      display: block;
    }
  }

  #second-sidebar {
    float: none;
    overflow: hidden;
    @include responsive($w_320);
  }

  #footer {
    .container {
      @include responsive($w_320);
    }
    .content {
      padding: 2px 10px;
    }
  }

  /* forms */
  .form-item input { max-width: 90%}

}

/* width 480px */
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #header {
    .header {
      @include responsive($w_480);

      a {
        text-align: center;
        img { max-width: 90%; height: auto;}
      }
    }
  }

  #navigation {
    .navigation {
      height: auto!important;
    }
    .container {
      @include responsive($w_480);
    }
    a.active {
      background: $color_white;
    }
  }

  #main-wrapper .container {
    @include responsive($w_480);
  }

  #preface {
    margin: 0 auto;
    width:480px;

    .preface-2 {
      width: 100%
    }

    .block-block {
      height: auto;
      margin-bottom:10px;
      width: 460px;
    }
  }

  #first-sidebar {
    float: none;
    overflow: hidden;
    @include responsive($w_480);

    #block-search-form {
      margin-top:10px;
    }
  }

  .page-content {
    float: none!important;
    width: 480px!important;

    .gutter {
      padding: 0!important;

      .region-content {
        margin-bottom: 15px;

        .submitted {
          margin: 10px 0;
        }
      }

      h2 {
        padding-left: 0!important;

        a {
          color: $color_orange!important;
        }
      }

      .feed-icon {
        display: none;
      }
    }

    .content {
      padding: 0!important;

      img {
       height: auto;
       max-width: 90%;
      }
    }
  }

  #second-sidebar {
    float: none;
    overflow: hidden;
    @include responsive($w_480);
  }

  #footer {
    .container {
      @include responsive($w_480);
    }
    .content {
      padding: 2px 10px;
    }
  }

  /* forms */
  .form-item input { max-width: 70%}
}


/* width 768px */
@media only screen and (min-width : 768px) and (max-width : 960px) {
  #header {
    .header {
      @include responsive($w_768);

      a {
        text-align: center;
        img { max-width: 90%; height: auto;}
      }

      #log-in-out {
        float: none;
        text-align: center;
      }
    }
  }

  #navigation {
    .navigation {
      height: auto!important;
    }
    .container {
      @include responsive($w_768);
    }
  }

  #main-wrapper .container {
    @include responsive($w_768);
  }

  #preface {
    margin: 0 auto;
    min-height: 0;
    width:768px;

    .preface-2 {
      width: 49.9%;
    }

    .block-block {
      height: auto;
      margin-bottom:10px;
      min-height:120px;
      padding: 0 11px!important;
      width: 94.5%;
    }
  }

  #first-sidebar {
    float: none;
    overflow: hidden;
    @include responsive($w_768);

    #block-search-form {
      margin-top:10px;
    }
  }

  .page-content {
    float: none!important;
    width:768px!important;

    .gutter {
      padding: 0!important;

      .region-content {
        margin-bottom: 15px;
      }

      h2 {
        padding-left: 0!important;

        a {
          color: $color_orange!important;
        }
      }
      .feed-icon {
        display: none;
      }
    }

    .content {
      padding: 0!important;

      .submitted {
          margin: 10px 0;
      }

      img {
       height: auto;
       max-width: 90%;
      }
    }
  }

  #second-sidebar {
    float: none;
    overflow: hidden;
    @include responsive($w_768);

    .block {
      float: left;
      padding:0 10px;
      width: 45%;
    }
  }

  #footer {
    .container {
      @include responsive($w_768);
    }
    .content {
      padding: 2px 10px;
    }
  }

  /* forms */
  .form-item input { max-width: 70%}
}
