@import "vars";
/**
 * Main styles
 */

body {
  background: url('../images/bg-body.gif') repeat;
  color: #4f4e4e;
  font: normal 13px / 1.5 Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: normal;
  margin: 5px 0;
  color: $color_orange;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 5px 0;
  color: $color_orange;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 5px 0;
  color: $color_orange;
}

h4 {
  font-size: 13px;
  margin: 5px 0;
  color: $color_orange;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #4f4e4e;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #4e4e4e;
  text-decoration: underline;
}

blockquote {
  background: transparent url('../images/bq-tl.png') no-repeat left top;
  padding-left: 30px;
  margin-left: 10px;
  font-style: italic;
  min-height: 0px;
}

ol {
  list-style-type: decimal;
  margin-left: 25px;
}

#main ul li {
  margin-left: 20px;
  list-style: disc;
}

ul.links.inline {
  display: block;
  margin-bottom: 20px;
  background-color: #f6f6f6;
}

.sidebar ul li {
  margin-left: 0;
  list-style: none;
}

.form-submit,
.form-button {
  background-color: $color_orange;
  border: 0;
  color: $color_white;
  cursor: pointer;
  overflow: visible;
  padding: 3px 5px;
}

#bottom {
  .form-submit,
  .form-button {
    background-color: $color_white;
    color: $color_orange;
  }
}

.form-text {
  width: $w_100;
}

#forum table {
  border-collapse: collapse;
  width: $w_100;
}

a {
  color: $color_orange;
  text-decoration: none;
  &:hover {
    color: $color_orange;
    text-decoration: underline;
  }
}



/* Page Styles
-------------------------------------------------------------- */

#page {
  overflow: hidden;
  background: url('../images/bg_logo.png') no-repeat top right;
}

#header {
  height: 180px;
  width: $w_100;
}

.header {
  height: 130px;
  padding-top: 15px;
}

#site-header {
  padding-top: 15px;
}

.logo {
  float: left;
}

.block-search {
  clear: right;
  float: right;
}

#site-name {
  position: absolute;
  text-indent: -9999px;
}

#site-slogan {
  color: $color_orange;
}

#user-links {
  float: right;
  margin-bottom: 10px;
  ul.links {
    float: right;
    li a {
      color: $color_white;
      text-decoration: none;
    }
  }
}

#first-time {
  display: none;
}

.breadcrumb {
  padding: 10px;
}

table {
  width: $w_100;
  tr td{
    padding: 5px;
  }
}

/* Search
-------------------------------------------------------------- */

#search {
  float: right;
  label {
    display: none;
  }
}
/* Secondary Navigation
-------------------------------------------------------------- */

#log-in-out {
  float: right;
  h2 {
    display: none;
  }
  ul {
    background-color: transparent;
    margin: 0;
  }
}

/* Primary Navigation
-------------------------------------------------------------- */

.navigation {
  background: $color_orange;
  margin-top: -45px;
}

#navigation {
  li {
    background: $color_orange;
    border-right: 1px solid #ccc;
    float: left;
    &.active,
    &:hover {
      background-position: left -45px;
    }
    &.active {
      background: none repeat scroll 0 0 $color_white;
      color: $color_orange;
    }
  }
  a {
    color: $color_white;
    display: block;
    font-size: 16px;
    padding: 10px 25px;
    text-decoration: none;
    &:hover,
    &:visited {
      color: $color_white;
      text-decoration: none;
    }
    &:hover {
      background: $color_white;
      color: $color_orange;
      border: none;
    }
  }

  a.active {
    color: $color_orange!important;
  }
  a.active:hover {
    color: $color_orange;
  }
}

/* Superfish
-------------------------------------------------------------- */

#superfish {
  height: 44px;
  float: left;
  h2 {
    height: 0;
    overflow: hidden;
    position: absolute;
  }
  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    * {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    line-height: 1.0;
    ul {
      position: absolute;
      top: -999em;
      width: 18em;
      li {
        width: $w_100;
      }
    }
    li {
      &:hover {
        visibility: inherit;
      }
      float: left;
      position: relative;
    }
    a {
      display: block;
      position: relative;
    }
    li {
      &:hover ul,
      &.sfHover ul {
        left: 0;
        top: 45px;
      }
    }
  }
  ul.menu li {
    &:hover li ul,
    &.sfHover li ul {
      top: -999em;
    }
    li {
      &:hover ul,
      &.sfHover ul {
        left: 18em;
        top: 0;
      }
      &:hover li ul,
      &.sfHover li ul {
        top: -999em;
      }
      li {
        &:hover ul,
        &.sfHover ul {
          left: 18em;
          top: 0;
        }
      }
    }
  }
  .menu {
    float: left;
    margin-bottom: 1em;
    a {
      padding: .75em 1em 1em 1em;
      text-decoration: none;
      &.sf-with-ul {
        padding-right: 2.25em;
        min-width: 1px;
      }
      color: $color_white;
      text-decoration: none;
      font-size: 12px;
      text-transform: uppercase;
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 15px;
      &:visited {
        color: $color_white;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 15px;
      }
    }
    li {
      background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
      li {
        background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
        li {
          background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
          top: 0px;
        }
      }
      &:hover,
      &.sfHover {
        outline: 0;
      }
    }
    a {
      &:focus,
      &:hover,
      &:active {
        outline: 0;
      }
    }
    li {
      &:hover {
        background-position: left -45px;
      }
      &.active-trail {
        background-position: left -45px;
        li {
          background-position: left 0px;
        }
      }
      li {
        &:hover,
        li:hover {
          background-position: left -45px;
        }
      }
    }
  }
}

.sf-sub-indicator {
  position: absolute;
  display: block;
  right: .75em;
  top: 1.05em;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background: url(../images/arrows-ffffff.png) no-repeat -10px -100px;
}

a {
  > .sf-sub-indicator {
    top: .8em;
    background-position: 0 -100px;
  }
  &:focus > .sf-sub-indicator,
  &:hover > .sf-sub-indicator,
  &:active > .sf-sub-indicator {
    background-position: -10px -100px;
  }
}

li {
  &:hover > a > .sf-sub-indicator,
  &.sfHover > a > .sf-sub-indicator {
    background-position: -10px -100px;
  }
}

#superfish .menu ul {
  .sf-sub-indicator {
    background-position: -10px 0;
  }
  a {
    > .sf-sub-indicator {
      background-position: 0 0;
    }
    &:focus > .sf-sub-indicator,
    &:hover > .sf-sub-indicator,
    &:active > .sf-sub-indicator {
      background-position: -10px 0;
    }
  }
  li {
    &:hover > a > .sf-sub-indicator,
    &.sfHover > a > .sf-sub-indicator {
      background-position: -10px 0;
    }
  }
}

/* messages
-------------------------------------------------------------- */

div.messages {
  margin: 0 auto 15px;
  width: 900px;
}

/* Slide Wrapper
-------------------------------------------------------------- */

#banner-wrap {
  height: $w_100;
  overflow: hidden;
  width: $w_100;
}

* html #banner-wrap {
  position: relative;
}

#banner-wrap {
  &.empty {
    height: 0;
  }
  .content {
    margin-top: 15px;
  }
}

/* Page Content
-------------------------------------------------------------- */

.region-content {
  background: $color_white;
  border: 1px solid #ccc;
  border-top: 6px solid $color_orange;
  border-bottom: 6px solid $color_orange;
  .content {
    padding: 10px;
  }
}

.sidebar .gutter .block {
  float: left;
  padding-bottom: 25px;
  width: $w_100;
}

.two-sidebars {
  .first-sidebar {
    background: $color_white;
    border: 1px solid #ccc;
    border-top: 6px solid $color_orange;
    border-bottom: 6px solid $color_orange;
    margin-bottom: 15px;
  }
  .page-content {
    .gutter h1 {
      display: none;
    }
    width: 475px;
  }
  .second-sidebar {
    background: $color_white;
    border: 1px solid #ccc;
    border-top: 6px solid $color_orange;
    border-bottom: 6px solid $color_orange;
    color: #4f4e4e;
    width: 235px;
  }
  .page-content .gutter .block {
    background: $color_white;
    color: #4f4e4e;
    padding: 0 10px 5px 10px;
    h2 {
      color: $color_orange;
      font-family: sans-serif;
      font-size: 30px;
      margin-bottom: 0;
      padding-left: 4px;
    }
    .content p {
      padding-bottom: 4px;
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.node .content .field-name-field-image {
  text-align: center;
  img {
    max-width:$w_100;
    height:auto;
  }
}


.one-sidebar {
  .first-sidebar {
    background: $color_white;
    margin-bottom: 15px;
    width: 280px;
    border: 1px solid #ccc;
    border-top: 6px solid $color_orange;
    border-bottom: 6px solid $color_orange;
  }
  .page-content .gutter h1 {
    display: none;
  }
  .second-sidebar {
    background: $color_white;
    color: #4f4e4e;
  }
  .page-content .gutter .block {
    background: $color_white;
    padding: 10px;
    color: #4f4e4e;
    h2 {
      color: $color_orange;
      font-family: sans-serif;
      font-size: 30px;
    }
  }
}

.preface,
.sidebar .gutter {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
  min-height: 0;
}

.preface .gutter {
  padding: 0;
}

.gutter! .block {}

* html .sidebar .gutter {
  height: 1%;
}

#main-wrapper {
  width: $w_100;
  padding-top: 5px;
}

#content-wrap {
  min-height: 400px;
  margin-bottom: 15px;
}

#preface {
  min-height: 150px;
  .block-block {
    padding: 10px;
    background: $color_white;
    border-bottom: 1px solid #ccc;
    border-top: 6px solid $color_orange;
    height: 120px;
  }
  h2, h3 {
    color: $color_orange;
  }
}

.sidebar {
  h2 {
    color: $color_orange;
    padding: 0 5px;
    font-size: 20px;
    font-family: sans-serif;
  }
  .content! {}
}

#bottom {
  color: $color_white;
  margin-top: 15px;
  padding: 10px 0 25px;
  h2 {
    color: $color_white;
  }
  a {
    color: $color_white;
    text-decoration: none;
    &:visited {
      color: $color_white;
      text-decoration: none;
    }
    &:hover {
      color: #cf710c;
    }
  }
}

#footer-wrap {
  background-color: $color_white;
  color: #666;
  margin-top: 10px;
  padding-bottom: 10px;
  ul,
  li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
}

#footer {
  ul {
    list-style: none;
    text-align: center;
    margin: 10px 0;
    li {
      text-align: left;
    }
  }
  a {
    color: $color_white;
    text-decoration: none;
    &:hover {
      color: $color_white;
      text-decoration: underline;
    }
  }
}

.footer {
  margin: 0 auto;
  width: 960px;
}

#footer {
  background: #e33400;
  border-top: 9px solid #e33400;
  margin: 0 auto;
  .block {
    padding-bottom: 10px;
    color: $color_white;
  }
}

#levelten {
  text-align: center;
}

/* Forum Styles
-------------------------------------------------------------- */

#forum tr.even,
tr.odd {
  background: url(../images/forum-row-bg.gif) repeat-x scroll;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

/* Comment Styles
-------------------------------------------------------------- */

#comments {
  .comment {
    background: #f6f6f6;
    padding: 0.5em 1em;
  }
  .indented {
    margin: 5px 0 5px 20px;
  }
}


/* Helper Icon Styles
-------------------------------------------------------------- */

.region-content ul.links {
  a {
    background-repeat: no-repeat;
    padding-bottom: 5px;
    padding-left: 20px;
  }
  li {
    &.comment-add a {
      background-image: url(../images/commentadd.gif);
    }
    &.comment-comments a {
      background-image: url(../images/comments.gif);
    }
    &.comment-edit a {
      background-image: url(../images/commentedit.gif);
    }
    &.comment-delete a {
      background-image: url(../images/commentdelete.gif);
    }
    &.comment-reply a {
      background-image: url(../images/commentadd.gif);
    }
    &.node-readmore a {
      background-image: url(../images/readmore.gif);
    }
    &.blog-usernames-blog a {
      background-image: url(../images/user.gif);
    }
    &.comment-forbidden a {
      background-image: url(../images/lock.gif);
    }
    &.upload-attachments a {
      background-image: url(../images/photo.gif);
    }
    &.book-printer a {
      background-image: url(../images/print.gif);
    }
    &.book-add-child a {
      background-image: url(../images/add.gif);
    }
  }
}

/* Facebook
-------------------------------------------------------------- */

#facebook .fbFeedbackContent {
  .composer {
    background: #000 !important;
    border: none !important;
  }
  .fbConnectWidgetFooter {
    display: none !important;
  }
}
