/**
 * Special css for the home rotator
 */
/* line 6, ../sass/blocks.scss */
#block-views-rotator-block_1 .views-field-body {
  float: right;
  height: 250px;
  margin-right: 20px;
  position: relative;
  top: -300px;
}
/* line 12, ../sass/blocks.scss */
#block-views-rotator-block_1 .views-field-body a {
  color: #ffffff;
}
/* line 16, ../sass/blocks.scss */
#block-views-rotator-block_1 .views-slideshow-controls-bottom {
  bottom: 35px;
  float: right;
  margin-right: 20px;
  position: relative;
  z-index: 5;
}
/* line 22, ../sass/blocks.scss */
#block-views-rotator-block_1 .views-slideshow-controls-bottom a {
  background: #4f4e4e;
  border-radius: 3px;
  color: #ffffff;
  -moz-border-radius: 3px;
  padding: 3px 6px;
  text-decoration: none;
  -webkit-border-radius: 3px;
}
/* line 31, ../sass/blocks.scss */
#block-views-rotator-block_1 .views-slideshow-controls-bottom div.activeSlide a {
  background: #cf710c;
}

/* line 37, ../sass/blocks.scss */
.views_slideshow_singleframe_teaser_section {
  height: 300px;
  overflow: hidden;
}

/**
 * Float node images left
 */
/* line 49, ../sass/blocks.scss */
.field-field-blog-image,
.field-field-product-image,
.field-field-service-image,
.field-field-news-image {
  float: left;
  margin: 10px 10px 10px 0;
  position: relative;
}

/**
 * sitewide main views row
 */
/* line 60, ../sass/blocks.scss */
#main-content .views-row {
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 10px;
  -moz-box-shadow: 0 0 5px #ccc;
  padding: 20px;
  -webkit-box-shadow: 0 0 5px #ccc;
}
/* line 68, ../sass/blocks.scss */
#main-content ul .views-row {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  -moz-box-shadow: none;
  padding: 0;
  -webkit-box-shadow: none;
}
