/**
 * Blog styles
 */
/* line 6, ../sass/blog.scss */
.content-column .view-blog .views-field-field-blog-image-fid {
  clear: left;
  float: left;
  margin-right: 20px;
}
/* line 12, ../sass/blog.scss */
.content-column .view-blog .views-field-created,
.content-column .view-blog .views-field-name {
  clear: both;
  float: left;
  width: 170px;
}
/* line 17, ../sass/blog.scss */
.content-column .view-blog .views-field-title {
  font-size: 18px;
}
/* line 20, ../sass/blog.scss */
.content-column .view-blog .views-field-view-node {
  clear: both;
  text-align: right;
}
