/* line 1, ../sass/layout.scss */
.container {
  margin: 0 auto;
  width: 960px;
}

/* line 8, ../sass/layout.scss */
.no-sidebars .main,
.no-sidebars .page-content {
  width: 960px;
}

/* line 13, ../sass/layout.scss */
.sidebar-first .page-content {
  float: right;
  width: 670px;
}

/* line 20, ../sass/layout.scss */
.sidebar-second .main,
.sidebar-second .page-content {
  float: left;
  width: 670px;
}

/* line 27, ../sass/layout.scss */
.two-sidebars .main {
  float: left;
  width: 720px;
}
/* line 31, ../sass/layout.scss */
.two-sidebars .page-content {
  float: right;
  width: 480px;
}
/* line 35, ../sass/layout.scss */
.two-sidebars .first-sidebar {
  float: left;
  width: 240px;
}
/* line 39, ../sass/layout.scss */
.two-sidebars .second-sidebar {
  float: right;
  width: 240px;
}

/* line 46, ../sass/layout.scss */
.one-sidebar .first-sidebar {
  float: left;
  width: 290px;
}
/* line 50, ../sass/layout.scss */
.one-sidebar .second-sidebar {
  float: right;
  width: 290px;
}

/**
 * column gutters
 */
/* line 60, ../sass/layout.scss */
.sidebar-first .page-content .gutter {
  padding-left: 12px;
}

/* line 64, ../sass/layout.scss */
.sidebar-second .page-content .gutter {
  padding-right: 11px;
}

/* line 68, ../sass/layout.scss */
.two-sidebars .page-content .gutter {
  padding-left: 8px;
  padding-right: 7px;
}

/* line 73, ../sass/layout.scss */
.sidebar .gutter {
  padding: 0 7px 7px;
}

/**
 * preface and bottom regions
 */
/* line 82, ../sass/layout.scss */
.preface-1,
.bottom-1 {
  width: 960px;
}

/* line 87, ../sass/layout.scss */
.preface-2,
.bottom-2 {
  float: left;
  width: 480px;
}

/* line 93, ../sass/layout.scss */
.preface-3,
.bottom-3 {
  float: left;
  width: 320px;
}

/* line 98, ../sass/layout.scss */
.bottom-4 {
  float: left;
  width: 240px;
}

/* line 104, ../sass/layout.scss */
.preface .gutter,
.bottom .gutter {
  padding: 0 10px 5px;
}
