/* line 58, ../sass/reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 72, ../sass/reset.scss */
:focus {
  outline: 0;
}

/* line 76, ../sass/reset.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 83, ../sass/reset.scss */
ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 89, ../sass/reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 96, ../sass/reset.scss */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

/* line 104, ../sass/reset.scss */
blockquote:before,
blockquote:after {
  content: "";
}

/* line 112, ../sass/reset.scss */
q:before,
q:after {
  content: "";
}

/* line 118, ../sass/reset.scss */
blockquote,
q {
  quotes: "" "";
}
