/** all menu responsive **/
/* line 4, ../sass/responsive.scss */
.responsive-menus.responsified {
  width: 100% !important;
}
/* line 6, ../sass/responsive.scss */
.responsive-menus.responsified .responsive-menus-simple li a {
  background: #e34212;
  padding: 0.1em 5%;
}
/* line 10, ../sass/responsive.scss */
.responsive-menus.responsified span.toggler {
  background: #e34212;
  box-shadow: none;
  border-radius: 0;
}

/* line 17, ../sass/responsive.scss */
.responsive-menus-simple {
  box-shadow: none !important;
}
/* line 18, ../sass/responsive.scss */
.responsive-menus-simple .block-inner {
  padding: 0 !important;
}
/* line 23, ../sass/responsive.scss */
.responsive-menus-simple li {
  height: auto !important;
}
/* line 26, ../sass/responsive.scss */
.responsive-menus-simple li a {
  font-size: 16px;
  padding: 3px 15px !important;
}

/* width 320px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 36, ../sass/responsive.scss */
  #header .header {
    height: auto;
    width: 320px;
  }
  /* line 40, ../sass/responsive.scss */
  #header .header a {
    text-align: center;
  }
  /* line 42, ../sass/responsive.scss */
  #header .header a img {
    max-width: 80%;
    height: auto;
  }

  /* line 48, ../sass/responsive.scss */
  #navigation .navigation {
    height: auto !important;
  }
  /* line 51, ../sass/responsive.scss */
  #navigation .container {
    width: 320px;
  }
  /* line 54, ../sass/responsive.scss */
  #navigation a.active {
    background: white;
  }

  /* line 59, ../sass/responsive.scss */
  #main-wrapper .container {
    width: 320px;
  }

  /* line 63, ../sass/responsive.scss */
  #preface {
    margin: 0 auto;
    width: 320px;
  }
  /* line 67, ../sass/responsive.scss */
  #preface .preface-2 {
    width: 100%;
  }
  /* line 71, ../sass/responsive.scss */
  #preface .block-block {
    height: auto;
    margin-bottom: 10px;
    width: 300px;
  }

  /* line 78, ../sass/responsive.scss */
  #first-sidebar {
    float: none;
    overflow: hidden;
    width: 320px;
  }

  /* line 84, ../sass/responsive.scss */
  .page-content {
    float: none !important;
    width: 320px !important;
  }
  /* line 88, ../sass/responsive.scss */
  .page-content .gutter {
    padding: 0 !important;
  }
  /* line 91, ../sass/responsive.scss */
  .page-content .gutter .region-content {
    margin-bottom: 15px;
  }
  /* line 95, ../sass/responsive.scss */
  .page-content .gutter .submitted {
    margin: 10px 0;
  }
  /* line 99, ../sass/responsive.scss */
  .page-content .gutter h2 {
    padding-left: 0 !important;
  }
  /* line 102, ../sass/responsive.scss */
  .page-content .gutter h2 a {
    color: #e34212 !important;
  }
  /* line 107, ../sass/responsive.scss */
  .page-content .gutter .feed-icon {
    display: none;
  }
  /* line 112, ../sass/responsive.scss */
  .page-content .content {
    padding: 0 !important;
  }
  /* line 115, ../sass/responsive.scss */
  .page-content .content img {
    height: auto;
    width: 100%;
  }
  /* line 121, ../sass/responsive.scss */
  .page-content ul.links li {
    display: block;
  }

  /* line 126, ../sass/responsive.scss */
  #second-sidebar {
    float: none;
    overflow: hidden;
    width: 320px;
  }

  /* line 133, ../sass/responsive.scss */
  #footer .container {
    width: 320px;
  }
  /* line 136, ../sass/responsive.scss */
  #footer .content {
    padding: 2px 10px;
  }

  /* forms */
  /* line 142, ../sass/responsive.scss */
  .form-item input {
    max-width: 90%;
  }
}
/* width 480px */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* line 149, ../sass/responsive.scss */
  #header .header {
    width: 480px;
  }
  /* line 152, ../sass/responsive.scss */
  #header .header a {
    text-align: center;
  }
  /* line 154, ../sass/responsive.scss */
  #header .header a img {
    max-width: 90%;
    height: auto;
  }

  /* line 160, ../sass/responsive.scss */
  #navigation .navigation {
    height: auto !important;
  }
  /* line 163, ../sass/responsive.scss */
  #navigation .container {
    width: 480px;
  }
  /* line 166, ../sass/responsive.scss */
  #navigation a.active {
    background: white;
  }

  /* line 171, ../sass/responsive.scss */
  #main-wrapper .container {
    width: 480px;
  }

  /* line 175, ../sass/responsive.scss */
  #preface {
    margin: 0 auto;
    width: 480px;
  }
  /* line 179, ../sass/responsive.scss */
  #preface .preface-2 {
    width: 100%;
  }
  /* line 183, ../sass/responsive.scss */
  #preface .block-block {
    height: auto;
    margin-bottom: 10px;
    width: 460px;
  }

  /* line 190, ../sass/responsive.scss */
  #first-sidebar {
    float: none;
    overflow: hidden;
    width: 480px;
  }
  /* line 195, ../sass/responsive.scss */
  #first-sidebar #block-search-form {
    margin-top: 10px;
  }

  /* line 200, ../sass/responsive.scss */
  .page-content {
    float: none !important;
    width: 480px !important;
  }
  /* line 204, ../sass/responsive.scss */
  .page-content .gutter {
    padding: 0 !important;
  }
  /* line 207, ../sass/responsive.scss */
  .page-content .gutter .region-content {
    margin-bottom: 15px;
  }
  /* line 210, ../sass/responsive.scss */
  .page-content .gutter .region-content .submitted {
    margin: 10px 0;
  }
  /* line 215, ../sass/responsive.scss */
  .page-content .gutter h2 {
    padding-left: 0 !important;
  }
  /* line 218, ../sass/responsive.scss */
  .page-content .gutter h2 a {
    color: #e34212 !important;
  }
  /* line 223, ../sass/responsive.scss */
  .page-content .gutter .feed-icon {
    display: none;
  }
  /* line 228, ../sass/responsive.scss */
  .page-content .content {
    padding: 0 !important;
  }
  /* line 231, ../sass/responsive.scss */
  .page-content .content img {
    height: auto;
    max-width: 90%;
  }

  /* line 238, ../sass/responsive.scss */
  #second-sidebar {
    float: none;
    overflow: hidden;
    width: 480px;
  }

  /* line 245, ../sass/responsive.scss */
  #footer .container {
    width: 480px;
  }
  /* line 248, ../sass/responsive.scss */
  #footer .content {
    padding: 2px 10px;
  }

  /* forms */
  /* line 254, ../sass/responsive.scss */
  .form-item input {
    max-width: 70%;
  }
}
/* width 768px */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  /* line 261, ../sass/responsive.scss */
  #header .header {
    width: 768px;
  }
  /* line 264, ../sass/responsive.scss */
  #header .header a {
    text-align: center;
  }
  /* line 266, ../sass/responsive.scss */
  #header .header a img {
    max-width: 90%;
    height: auto;
  }
  /* line 269, ../sass/responsive.scss */
  #header .header #log-in-out {
    float: none;
    text-align: center;
  }

  /* line 277, ../sass/responsive.scss */
  #navigation .navigation {
    height: auto !important;
  }
  /* line 280, ../sass/responsive.scss */
  #navigation .container {
    width: 768px;
  }

  /* line 285, ../sass/responsive.scss */
  #main-wrapper .container {
    width: 768px;
  }

  /* line 289, ../sass/responsive.scss */
  #preface {
    margin: 0 auto;
    min-height: 0;
    width: 768px;
  }
  /* line 294, ../sass/responsive.scss */
  #preface .preface-2 {
    width: 49.9%;
  }
  /* line 298, ../sass/responsive.scss */
  #preface .block-block {
    height: auto;
    margin-bottom: 10px;
    min-height: 120px;
    padding: 0 11px !important;
    width: 94.5%;
  }

  /* line 307, ../sass/responsive.scss */
  #first-sidebar {
    float: none;
    overflow: hidden;
    width: 768px;
  }
  /* line 312, ../sass/responsive.scss */
  #first-sidebar #block-search-form {
    margin-top: 10px;
  }

  /* line 317, ../sass/responsive.scss */
  .page-content {
    float: none !important;
    width: 768px !important;
  }
  /* line 321, ../sass/responsive.scss */
  .page-content .gutter {
    padding: 0 !important;
  }
  /* line 324, ../sass/responsive.scss */
  .page-content .gutter .region-content {
    margin-bottom: 15px;
  }
  /* line 328, ../sass/responsive.scss */
  .page-content .gutter h2 {
    padding-left: 0 !important;
  }
  /* line 331, ../sass/responsive.scss */
  .page-content .gutter h2 a {
    color: #e34212 !important;
  }
  /* line 335, ../sass/responsive.scss */
  .page-content .gutter .feed-icon {
    display: none;
  }
  /* line 340, ../sass/responsive.scss */
  .page-content .content {
    padding: 0 !important;
  }
  /* line 343, ../sass/responsive.scss */
  .page-content .content .submitted {
    margin: 10px 0;
  }
  /* line 347, ../sass/responsive.scss */
  .page-content .content img {
    height: auto;
    max-width: 90%;
  }

  /* line 354, ../sass/responsive.scss */
  #second-sidebar {
    float: none;
    overflow: hidden;
    width: 768px;
  }
  /* line 359, ../sass/responsive.scss */
  #second-sidebar .block {
    float: left;
    padding: 0 10px;
    width: 45%;
  }

  /* line 367, ../sass/responsive.scss */
  #footer .container {
    width: 768px;
  }
  /* line 370, ../sass/responsive.scss */
  #footer .content {
    padding: 2px 10px;
  }

  /* forms */
  /* line 376, ../sass/responsive.scss */
  .form-item input {
    max-width: 70%;
  }
}
