/**
 * Main styles
 */
/* line 6, ../sass/styles.scss */
body {
  background: url("../images/bg-body.gif") repeat;
  color: #4f4e4e;
  font: normal 13px / 1.5 Verdana, Arial, Helvetica, sans-serif;
}

/* line 12, ../sass/styles.scss */
h1 {
  font-size: 26px;
  font-weight: normal;
  margin: 5px 0;
  color: #e34212;
}

/* line 19, ../sass/styles.scss */
h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 5px 0;
  color: #e34212;
}

/* line 26, ../sass/styles.scss */
h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 5px 0;
  color: #e34212;
}

/* line 33, ../sass/styles.scss */
h4 {
  font-size: 13px;
  margin: 5px 0;
  color: #e34212;
}

/* line 50, ../sass/styles.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #4f4e4e;
  text-decoration: none;
}

/* line 60, ../sass/styles.scss */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #4e4e4e;
  text-decoration: underline;
}

/* line 65, ../sass/styles.scss */
blockquote {
  background: transparent url("../images/bq-tl.png") no-repeat left top;
  padding-left: 30px;
  margin-left: 10px;
  font-style: italic;
  min-height: 0px;
}

/* line 73, ../sass/styles.scss */
ol {
  list-style-type: decimal;
  margin-left: 25px;
}

/* line 78, ../sass/styles.scss */
#main ul li {
  margin-left: 20px;
  list-style: disc;
}

/* line 83, ../sass/styles.scss */
ul.links.inline {
  display: block;
  margin-bottom: 20px;
  background-color: #f6f6f6;
}

/* line 89, ../sass/styles.scss */
.sidebar ul li {
  margin-left: 0;
  list-style: none;
}

/* line 95, ../sass/styles.scss */
.form-submit,
.form-button {
  background-color: #e34212;
  border: 0;
  color: white;
  cursor: pointer;
  overflow: visible;
  padding: 3px 5px;
}

/* line 106, ../sass/styles.scss */
#bottom .form-submit,
#bottom .form-button {
  background-color: white;
  color: #e34212;
}

/* line 112, ../sass/styles.scss */
.form-text {
  width: 100%;
}

/* line 116, ../sass/styles.scss */
#forum table {
  border-collapse: collapse;
  width: 100%;
}

/* line 121, ../sass/styles.scss */
a {
  color: #e34212;
  text-decoration: none;
}
/* line 124, ../sass/styles.scss */
a:hover {
  color: #e34212;
  text-decoration: underline;
}

/* Page Styles
-------------------------------------------------------------- */
/* line 135, ../sass/styles.scss */
#page {
  overflow: hidden;
  background: url("../images/bg_logo.png") no-repeat top right;
}

/* line 140, ../sass/styles.scss */
#header {
  height: 180px;
  width: 100%;
}

/* line 145, ../sass/styles.scss */
.header {
  height: 130px;
  padding-top: 15px;
}

/* line 150, ../sass/styles.scss */
#site-header {
  padding-top: 15px;
}

/* line 154, ../sass/styles.scss */
.logo {
  float: left;
}

/* line 158, ../sass/styles.scss */
.block-search {
  clear: right;
  float: right;
}

/* line 163, ../sass/styles.scss */
#site-name {
  position: absolute;
  text-indent: -9999px;
}

/* line 168, ../sass/styles.scss */
#site-slogan {
  color: #e34212;
}

/* line 172, ../sass/styles.scss */
#user-links {
  float: right;
  margin-bottom: 10px;
}
/* line 175, ../sass/styles.scss */
#user-links ul.links {
  float: right;
}
/* line 177, ../sass/styles.scss */
#user-links ul.links li a {
  color: white;
  text-decoration: none;
}

/* line 184, ../sass/styles.scss */
#first-time {
  display: none;
}

/* line 188, ../sass/styles.scss */
.breadcrumb {
  padding: 10px;
}

/* line 192, ../sass/styles.scss */
table {
  width: 100%;
}
/* line 194, ../sass/styles.scss */
table tr td {
  padding: 5px;
}

/* Search
-------------------------------------------------------------- */
/* line 202, ../sass/styles.scss */
#search {
  float: right;
}
/* line 204, ../sass/styles.scss */
#search label {
  display: none;
}

/* Secondary Navigation
-------------------------------------------------------------- */
/* line 211, ../sass/styles.scss */
#log-in-out {
  float: right;
}
/* line 213, ../sass/styles.scss */
#log-in-out h2 {
  display: none;
}
/* line 216, ../sass/styles.scss */
#log-in-out ul {
  background-color: transparent;
  margin: 0;
}

/* Primary Navigation
-------------------------------------------------------------- */
/* line 225, ../sass/styles.scss */
.navigation {
  background: #e34212;
  margin-top: -45px;
}

/* line 231, ../sass/styles.scss */
#navigation li {
  background: #e34212;
  border-right: 1px solid #ccc;
  float: left;
}
/* line 236, ../sass/styles.scss */
#navigation li.active,
#navigation li:hover {
  background-position: left -45px;
}
/* line 239, ../sass/styles.scss */
#navigation li.active {
  background: none repeat scroll 0 0 white;
  color: #e34212;
}
/* line 244, ../sass/styles.scss */
#navigation a {
  color: white;
  display: block;
  font-size: 16px;
  padding: 10px 25px;
  text-decoration: none;
}
/* line 251, ../sass/styles.scss */
#navigation a:hover,
#navigation a:visited {
  color: white;
  text-decoration: none;
}
/* line 255, ../sass/styles.scss */
#navigation a:hover {
  background: white;
  color: #e34212;
  border: none;
}
/* line 262, ../sass/styles.scss */
#navigation a.active {
  color: #e34212 !important;
}
/* line 265, ../sass/styles.scss */
#navigation a.active:hover {
  color: #e34212;
}

/* Superfish
-------------------------------------------------------------- */
/* line 273, ../sass/styles.scss */
#superfish {
  height: 44px;
  float: left;
}
/* line 276, ../sass/styles.scss */
#superfish h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}
/* line 281, ../sass/styles.scss */
#superfish .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.0;
}
/* line 285, ../sass/styles.scss */
#superfish .menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 291, ../sass/styles.scss */
#superfish .menu ul {
  position: absolute;
  top: -999em;
  width: 18em;
}
/* line 295, ../sass/styles.scss */
#superfish .menu ul li {
  width: 100%;
}
/* line 299, ../sass/styles.scss */
#superfish .menu li {
  float: left;
  position: relative;
}
/* line 300, ../sass/styles.scss */
#superfish .menu li:hover {
  visibility: inherit;
}
/* line 306, ../sass/styles.scss */
#superfish .menu a {
  display: block;
  position: relative;
}
/* line 312, ../sass/styles.scss */
#superfish .menu li:hover ul,
#superfish .menu li.sfHover ul {
  left: 0;
  top: 45px;
}
/* line 320, ../sass/styles.scss */
#superfish ul.menu li:hover li ul,
#superfish ul.menu li.sfHover li ul {
  top: -999em;
}
/* line 325, ../sass/styles.scss */
#superfish ul.menu li li:hover ul,
#superfish ul.menu li li.sfHover ul {
  left: 18em;
  top: 0;
}
/* line 330, ../sass/styles.scss */
#superfish ul.menu li li:hover li ul,
#superfish ul.menu li li.sfHover li ul {
  top: -999em;
}
/* line 335, ../sass/styles.scss */
#superfish ul.menu li li li:hover ul,
#superfish ul.menu li li li.sfHover ul {
  left: 18em;
  top: 0;
}
/* line 342, ../sass/styles.scss */
#superfish .menu {
  float: left;
  margin-bottom: 1em;
}
/* line 345, ../sass/styles.scss */
#superfish .menu a {
  padding: .75em 1em 1em 1em;
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
}
/* line 348, ../sass/styles.scss */
#superfish .menu a.sf-with-ul {
  padding-right: 2.25em;
  min-width: 1px;
}
/* line 359, ../sass/styles.scss */
#superfish .menu a:visited {
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
}
/* line 369, ../sass/styles.scss */
#superfish .menu li {
  background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
}
/* line 371, ../sass/styles.scss */
#superfish .menu li li {
  background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
}
/* line 373, ../sass/styles.scss */
#superfish .menu li li li {
  background: transparent url(../images/main-sprite.png) repeat-x scroll left top;
  top: 0px;
}
/* line 379, ../sass/styles.scss */
#superfish .menu li:hover,
#superfish .menu li.sfHover {
  outline: 0;
}
/* line 386, ../sass/styles.scss */
#superfish .menu a:focus,
#superfish .menu a:hover,
#superfish .menu a:active {
  outline: 0;
}
/* line 391, ../sass/styles.scss */
#superfish .menu li:hover {
  background-position: left -45px;
}
/* line 394, ../sass/styles.scss */
#superfish .menu li.active-trail {
  background-position: left -45px;
}
/* line 396, ../sass/styles.scss */
#superfish .menu li.active-trail li {
  background-position: left 0px;
}
/* line 402, ../sass/styles.scss */
#superfish .menu li li:hover,
#superfish .menu li li li:hover {
  background-position: left -45px;
}

/* line 410, ../sass/styles.scss */
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: .75em;
  top: 1.05em;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background: url(../images/arrows-ffffff.png) no-repeat -10px -100px;
}

/* line 423, ../sass/styles.scss */
a > .sf-sub-indicator {
  top: .8em;
  background-position: 0 -100px;
}
/* line 429, ../sass/styles.scss */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator {
  background-position: -10px -100px;
}

/* line 436, ../sass/styles.scss */
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}

/* line 442, ../sass/styles.scss */
#superfish .menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
/* line 446, ../sass/styles.scss */
#superfish .menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}
/* line 451, ../sass/styles.scss */
#superfish .menu ul a:focus > .sf-sub-indicator,
#superfish .menu ul a:hover > .sf-sub-indicator,
#superfish .menu ul a:active > .sf-sub-indicator {
  background-position: -10px 0;
}
/* line 457, ../sass/styles.scss */
#superfish .menu ul li:hover > a > .sf-sub-indicator,
#superfish .menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}

/* messages
-------------------------------------------------------------- */
/* line 466, ../sass/styles.scss */
div.messages {
  margin: 0 auto 15px;
  width: 900px;
}

/* Slide Wrapper
-------------------------------------------------------------- */
/* line 474, ../sass/styles.scss */
#banner-wrap {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 480, ../sass/styles.scss */
* html #banner-wrap {
  position: relative;
}

/* line 485, ../sass/styles.scss */
#banner-wrap.empty {
  height: 0;
}
/* line 488, ../sass/styles.scss */
#banner-wrap .content {
  margin-top: 15px;
}

/* Page Content
-------------------------------------------------------------- */
/* line 496, ../sass/styles.scss */
.region-content {
  background: white;
  border: 1px solid #ccc;
  border-top: 6px solid #e34212;
  border-bottom: 6px solid #e34212;
}
/* line 501, ../sass/styles.scss */
.region-content .content {
  padding: 10px;
}

/* line 506, ../sass/styles.scss */
.sidebar .gutter .block {
  float: left;
  padding-bottom: 25px;
  width: 100%;
}

/* line 513, ../sass/styles.scss */
.two-sidebars .first-sidebar {
  background: white;
  border: 1px solid #ccc;
  border-top: 6px solid #e34212;
  border-bottom: 6px solid #e34212;
  margin-bottom: 15px;
}
/* line 520, ../sass/styles.scss */
.two-sidebars .page-content {
  width: 475px;
}
/* line 521, ../sass/styles.scss */
.two-sidebars .page-content .gutter h1 {
  display: none;
}
/* line 526, ../sass/styles.scss */
.two-sidebars .second-sidebar {
  background: white;
  border: 1px solid #ccc;
  border-top: 6px solid #e34212;
  border-bottom: 6px solid #e34212;
  color: #4f4e4e;
  width: 235px;
}
/* line 534, ../sass/styles.scss */
.two-sidebars .page-content .gutter .block {
  background: white;
  color: #4f4e4e;
  padding: 0 10px 5px 10px;
}
/* line 538, ../sass/styles.scss */
.two-sidebars .page-content .gutter .block h2 {
  color: #e34212;
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 0;
  padding-left: 4px;
}
/* line 545, ../sass/styles.scss */
.two-sidebars .page-content .gutter .block .content p {
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

/* line 553, ../sass/styles.scss */
.node .content .field-name-field-image {
  text-align: center;
}
/* line 555, ../sass/styles.scss */
.node .content .field-name-field-image img {
  max-width: 100%;
  height: auto;
}

/* line 563, ../sass/styles.scss */
.one-sidebar .first-sidebar {
  background: white;
  margin-bottom: 15px;
  width: 280px;
  border: 1px solid #ccc;
  border-top: 6px solid #e34212;
  border-bottom: 6px solid #e34212;
}
/* line 571, ../sass/styles.scss */
.one-sidebar .page-content .gutter h1 {
  display: none;
}
/* line 574, ../sass/styles.scss */
.one-sidebar .second-sidebar {
  background: white;
  color: #4f4e4e;
}
/* line 578, ../sass/styles.scss */
.one-sidebar .page-content .gutter .block {
  background: white;
  padding: 10px;
  color: #4f4e4e;
}
/* line 582, ../sass/styles.scss */
.one-sidebar .page-content .gutter .block h2 {
  color: #e34212;
  font-family: sans-serif;
  font-size: 30px;
}

/* line 591, ../sass/styles.scss */
.preface,
.sidebar .gutter {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
  min-height: 0;
}

/* line 599, ../sass/styles.scss */
.preface .gutter {
  padding: 0;
}

/* line 605, ../sass/styles.scss */
* html .sidebar .gutter {
  height: 1%;
}

/* line 609, ../sass/styles.scss */
#main-wrapper {
  width: 100%;
  padding-top: 5px;
}

/* line 614, ../sass/styles.scss */
#content-wrap {
  min-height: 400px;
  margin-bottom: 15px;
}

/* line 619, ../sass/styles.scss */
#preface {
  min-height: 150px;
}
/* line 621, ../sass/styles.scss */
#preface .block-block {
  padding: 10px;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 6px solid #e34212;
  height: 120px;
}
/* line 628, ../sass/styles.scss */
#preface h2,
#preface h3 {
  color: #e34212;
}

/* line 634, ../sass/styles.scss */
.sidebar h2 {
  color: #e34212;
  padding: 0 5px;
  font-size: 20px;
  font-family: sans-serif;
}

/* line 643, ../sass/styles.scss */
#bottom {
  color: white;
  margin-top: 15px;
  padding: 10px 0 25px;
}
/* line 647, ../sass/styles.scss */
#bottom h2 {
  color: white;
}
/* line 650, ../sass/styles.scss */
#bottom a {
  color: white;
  text-decoration: none;
}
/* line 653, ../sass/styles.scss */
#bottom a:visited {
  color: white;
  text-decoration: none;
}
/* line 657, ../sass/styles.scss */
#bottom a:hover {
  color: #cf710c;
}

/* line 663, ../sass/styles.scss */
#footer-wrap {
  background-color: white;
  color: #666;
  margin-top: 10px;
  padding-bottom: 10px;
}
/* line 669, ../sass/styles.scss */
#footer-wrap ul,
#footer-wrap li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 678, ../sass/styles.scss */
#footer ul {
  list-style: none;
  text-align: center;
  margin: 10px 0;
}
/* line 682, ../sass/styles.scss */
#footer ul li {
  text-align: left;
}
/* line 686, ../sass/styles.scss */
#footer a {
  color: white;
  text-decoration: none;
}
/* line 689, ../sass/styles.scss */
#footer a:hover {
  color: white;
  text-decoration: underline;
}

/* line 696, ../sass/styles.scss */
.footer {
  margin: 0 auto;
  width: 960px;
}

/* line 701, ../sass/styles.scss */
#footer {
  background: #e33400;
  border-top: 9px solid #e33400;
  margin: 0 auto;
}
/* line 705, ../sass/styles.scss */
#footer .block {
  padding-bottom: 10px;
  color: white;
}

/* line 711, ../sass/styles.scss */
#levelten {
  text-align: center;
}

/* Forum Styles
-------------------------------------------------------------- */
/* line 719, ../sass/styles.scss */
#forum tr.even,
tr.odd {
  background: url(../images/forum-row-bg.gif) repeat-x scroll;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

/* Comment Styles
-------------------------------------------------------------- */
/* line 729, ../sass/styles.scss */
#comments .comment {
  background: #f6f6f6;
  padding: 0.5em 1em;
}
/* line 733, ../sass/styles.scss */
#comments .indented {
  margin: 5px 0 5px 20px;
}

/* Helper Icon Styles
-------------------------------------------------------------- */
/* line 743, ../sass/styles.scss */
.region-content ul.links a {
  background-repeat: no-repeat;
  padding-bottom: 5px;
  padding-left: 20px;
}
/* line 749, ../sass/styles.scss */
.region-content ul.links li.comment-add a {
  background-image: url(../images/commentadd.gif);
}
/* line 752, ../sass/styles.scss */
.region-content ul.links li.comment-comments a {
  background-image: url(../images/comments.gif);
}
/* line 755, ../sass/styles.scss */
.region-content ul.links li.comment-edit a {
  background-image: url(../images/commentedit.gif);
}
/* line 758, ../sass/styles.scss */
.region-content ul.links li.comment-delete a {
  background-image: url(../images/commentdelete.gif);
}
/* line 761, ../sass/styles.scss */
.region-content ul.links li.comment-reply a {
  background-image: url(../images/commentadd.gif);
}
/* line 764, ../sass/styles.scss */
.region-content ul.links li.node-readmore a {
  background-image: url(../images/readmore.gif);
}
/* line 767, ../sass/styles.scss */
.region-content ul.links li.blog-usernames-blog a {
  background-image: url(../images/user.gif);
}
/* line 770, ../sass/styles.scss */
.region-content ul.links li.comment-forbidden a {
  background-image: url(../images/lock.gif);
}
/* line 773, ../sass/styles.scss */
.region-content ul.links li.upload-attachments a {
  background-image: url(../images/photo.gif);
}
/* line 776, ../sass/styles.scss */
.region-content ul.links li.book-printer a {
  background-image: url(../images/print.gif);
}
/* line 779, ../sass/styles.scss */
.region-content ul.links li.book-add-child a {
  background-image: url(../images/add.gif);
}

/* Facebook
-------------------------------------------------------------- */
/* line 789, ../sass/styles.scss */
#facebook .fbFeedbackContent .composer {
  background: #000 !important;
  border: none !important;
}
/* line 793, ../sass/styles.scss */
#facebook .fbFeedbackContent .fbConnectWidgetFooter {
  display: none !important;
}
